{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Purchase #{{ cat_purchase.id }}</h1>
        <dl>
            <dt>Product</dt>
            <dd>{{ cat_purchase.cat_product.name }}</dd>
            <dt>Price</dt>
            <dd>${{ cat_purchase.cat_product.price|floatformat:"2" }}</dd>
            <dt>Purchased At</dt>
            <dd>{{ cat_purchase.purchased_at }}</dd>
        </dl>
        <a href="{% url 'home2' %}" class="card-link">Continue Shopping</a>
    </div>
</div>
{% endblock content %}